.list-group {
    border-radius: initial;
    border: initial;
}

.list-group-item {
    transition: background-color 0.2s ease-in-out;
    /* Transição suave */
}

.list-group-item:hover {
    background-color: #f0f0f0;
    /* Altere para a cor de sua escolha */
}

.list-group-item.active {
    background-color: #02916d;
    /* Cor de fundo quando o item estiver ativo */
    color: white;
    /* Cor do texto quando o item estiver ativo */
    border-radius: initial;
    border: initial;
}


/* Styles para o menu hambúrguer e a responsividade */

#sidebar-wrapper {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicialmente o menu fica oculto */
    height: 100%;
    width: 250px;
    transition: left 0.3s ease;
    z-index: 1050;
}

#sidebar-wrapper.open {
    left: 0;
    /* Ao clicar, o menu vai aparecer */
}

.hamburger-menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1060;
}

.list-group-item {
    cursor: pointer;
}